<div class="post-comments-box">
    <h3 class="comments-headline">留言</h3>
    <div class="comment-list">
        <% comments.forEach(function (comment) { %>
            <div class="comment-item">
                <div class="avatar">
                    <img src="/img/<%= comment.author.avatar %>">
                </div>
                <div class="content">
                    <a class="author" href="/posts?author=<%= comment.author._id %>"><%= comment.author.name %></a>
                    <p class="date"><%= comment.created_at %></p>
                    <p class="text"><%- comment.content %></p>

                    <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
                        <div class="actions">
                            <a class="reply" href="/comments/<%= comment._id %>/remove">删除</a>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
    <% if (user) { %>
        <form class="comments-form" method="post" action="/comments">
            <input name="postId" value="<%= post._id %>" hidden>
            <div class="field">
                <textarea name="content" class="text"></textarea>
            </div>
            <input type="submit" class="submit-btn" value="留言"/>
        </form>
    <% } %>

</div>